html {
    padding: 0em;
}

h1{
    font-size: 5em;
    text-align: center;
    color: black;
    font-family: 'DotGothic16', sans-serif;
}

body {
    background: #001233;
    margin: 0em;

}



.card{
    width: 20%; 
   /*  height: 35em; */
   
    border: #000814 solid 5px;
    background-color: #0353a4;
    text-align: center;
    margin: 2em 1em;
     flex-basis: 20%;
    /* display: inline-block; */
   
}

.contain {
    width: 90%;
    margin: 5em 5%;
/*     background-color: #023e7d; */
    background-color: #001d3d   !important;
     border: #000814 solid 5px;
     display: flex;
     flex-flow: row wrap; 
     align-items: center;
     justify-content: space-evenly;
     /* padding: 1em; */

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.img{
    width: 100%;
}

.name{

    font-size: 0.8em;
    font-weight: bold;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
}

.stat{
    color: #a52a2a;
    font-style: italic;
    font-size: 0.8em;
}






/* search bar */

* {
  box-sizing: border-box;
}

.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #000814 ;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.search:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #00FEDE;
  transition: all 0.5s ease;
}
.search.open {
  width: 420px;
}
.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}

.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #fff;
  padding: 20px 100px 20px 45px;
  font-size: 40px;
}
.search-box:focus {
  outline: none;
}

.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #00FEDE;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}
.search-icon:before {
  content: "";
  width: 3px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: 30px;
  display: block;
  background-color: #00FEDE;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: "";
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #00FEDE;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 22px;
  top: 23px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 22px;
  top: 13px;
  height: 18px;
}



@media (max-width: 768px) {
    
    

    .card {
        
        width: 100%;
        flex-basis: 100%;
    }

    .contain {
        width:100%;
        margin: 1em 0em 1em 0em;
    }


    .search{
        max-width: 100%;
        font-size: 0.1em ;
    }

}
